.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--nav-bg);
  height: 60px;
  align-items: center;
}

.links a {
  padding: 10px 20px;
  color: #000;
}

.nav img {
  height: 32px;
}

.links a:last-child {
  color: #FFF;
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(234, 87, 78, 1) 0%, rgba(234, 134, 78, 1) 100%);
}

.section_hero {
  padding: 4rem;
  margin: 0 auto;
  text-align: center;
  background-color: #1A1E21;
}

.heading {
  font-weight: bold;
  font-size: 3rem;
  background: -webkit-linear-gradient(45deg, #EB4242, #FC8936 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub_heading {
  color: #DCDCDC;
  font-weight: normal;
  font-size: 2rem;
}

.section_tools {
  padding: 4rem;
  margin: 0 auto;
  text-align: center;
  background-color: #0D0D0F;
}

.list_tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
}

.section_tools .list_tools {
  color: #FFF;
  font-size: 1.5rem;
}